<a href="https://colab.research.google.com/github/Yosingh1/Python_Ineuron_code/blob/main/Assignment_05_Yogendra_Pratap_Singh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Friday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

# List, Tuple and Sets

#### 1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

In [ ]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
total=0
for i in amazon_website:
  total = total+i[1]
print(f"total cost to be paid: {total}")

total cost to be paid: 66000

#### 2. What will be the output of the following code snippet?

```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

In [ ]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")

2 3 4 5 6 6

#### 3. Write a Python program to find the repeated items of a tuple.

In [ ]:
#using user define function
lst= [2,3,4,5,5,6,7,7,7]
def count_func(x, lst):
  count=0
  for i in lst:
    if i==x:
      count+=1
  return count
count_func(7, lst)

3

In [ ]:
#using in-built function
lst= [2,3,4,5,5,6,7,7,7]

lst.count(7)

3

### 4. Replace last value of tuples in a list with 500. Try using list comprehension

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```

In [ ]:
#using list comprehension
lst= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

print([t[:-1] + (500,) for t in lst])

In [ ]:
#without list comprehension
lst= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
list1=[]
for t in lst:
  list1.append(t[:-1]+(500,))
print(list1)

[(10, 20, 500), (40, 50, 500), (70, 80, 500)]

In [ ]:
type((500,)) # with coma it is tuple

tuple

In [ ]:
type((500)) # without coma it is int

int