<a href="https://colab.research.google.com/github/Yosingh1/Python_Ineuron_code/blob/main/Assignment_04_Yogendra_Pratap_Singh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENTS__04

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]
max_= 0
for i in numbers:
  if i>max_:
    max_= i
print(f"Largest number is: {max_}")

Largest number is: 525

Q2. Print all the even number between (1, 12).

In [ ]:
for even_ in range(1,12):
  if even_%2==0:
    print(f"even number are: {even_}")

even number are: 2
even number are: 4
even number are: 6
even number are: 8
even number are: 10

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [ ]:
number= int(input("enter the numbers: "))

sum_=0
for num in range(1, number+1):
  sum_+=num
print(f"Sum: {sum_}")

enter the numbers: 10
Sum: 55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [ ]:
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for num_ in numbers:
  if num_%5==0:
    if num_>500:
      break
    elif num_>150:
      continue
    else:
      print(f"Number: {num_}")

Number: 75
Number: 150
Number: 145

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [ ]:
list1 = [10, 20, 30, 40, 50]
print(f"reverse order: {list1[::-1]}")

reverse order: [50, 40, 30, 20, 10]