<a href="https://colab.research.google.com/github/Yosingh1/Python_Ineuron_code/blob/main/Assignment_01_Yogendra_Pratap_Singh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENTS - NOT compulsory but usefull!!
# I am not at loss if you don't submit
## send the mail to 
## send it before 0000 hrs IST | 12 AM tonight
## Special cases respond atleast before 1200 hrs IST tomorrow i.e Monday

TO: query@ineuron.ai
CC: sunny@ineuron.ai, riishav@ineuron.ai, boktiar@ineuron.ai
 
Subject: [Bootcamp 2.0 | Assignment No. 1]: 

1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.
2. Take input A and B and print their sum, mul, div, square of the nos.
3. How many reserve keywords are there in python and why we should not use them as a variable name.
4. Create email ids with the user inputs. in the following format - 
lastname.firstname@gmail.com
5. Try to print the following lines - 
  - Hi I'm Sunny
  - My address is 22\3 
  - I earn 20$ daily.
6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs
7. Convert the following - 
  - "22.4" into integer
  - "22" into complex no.

1.Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

In [2]:
Print("Hi there!!") #here we got NameError becuases of wrong function name got passed. "print" is right fuction which starts from small "p" and I passed "Print" which start from capital "P"

NameError: ignored

In [3]:
print("Hi
there!!") # The SyntaxError: EOL while scanning string literal error in python occurs when while scanning a string of a program the python hit the end of the line due to the following reasons:

Missing quotes
Strings spanning multiple lines

SyntaxError: ignored

In [4]:
print("This is "Yogendra" ") #this error encounted is here because I used quotes twice (define the str and as well as my name )

SyntaxError: ignored

In [5]:
"Yogendra" +5 # This error beause of concatenation is not possible b/w str and int

TypeError: ignored

In [6]:
print= "Hi Ram!"

In [7]:
print(print) # because of I used reserved keyword/func as a variable that we can not..

TypeError: ignored

In [8]:
name = input("Name: ") 
place = input("place: ")
year_of_birth = input("year_of_birth: ")

age = 2022 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""") # this is because I tried to sub int from str.

Name: Yogendra
place: BLR
year_of_birth: 1994

TypeError: ignored

In [9]:
del print

In [10]:
a= "22.33"

print(f"convert str into int {type(int(a))}") # This error is triggered in one of two cases:

When passing a string containing anything that isn't a number to int(). Unfortunately, integer-type objects can't have any letters or special characters.
When passing int() a string-type object which looks like a float-type (e.g., the string '22.33'). Although technically, this is an extension of the first error case, Python recognizes the special character .inside the string '22.33'.

SyntaxError: ignored

2.Take input A and B and print their sum, mul, div, square of the nos.

In [11]:
A= int(input("enter first number: "))
B= int(input("enter second number: "))

print(type(A))
print(f"Sum of {A} and {B} is:{A+B}")
print(f"Multiplication of {A} and {B} is:{A*B}")
print(f"division of {A} and {B} is:{A/B}")
print(f"Sqaure of {A} and {B} is:{A**B}")

enter first number: 2
enter second number: 2
<class 'int'>
Sum of 2 and 2 is:4
Multiplication of 2 and 2 is:4
division of 2 and 2 is:1.0
Sqaure of 2 and 2 is:4

3. How many reserve keywords are there in python and why we should not use them as a variable name.

Ans: Reserved words in Python:-

- for
- while
- and
- or
- True
- False
- print
- if else elif
- return
- try except else finally raise
- list
- pass, continue,  break 
- global
- yield
- None , nonlocal
- in
- is
- labda
- from import as 
- Class
- del
- not
- def 

There are 33 reserved keywords in Python. This means no object can have the same name as one of these keywords.

4.Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [12]:
first_name= input("enter your first name: ")
last_name= input("enter your last name: ")
print(f"Your email address will be : {last_name}.{first_name}@gmail.com")

enter your first name: yogendra
enter your last name: singh
Your email address will be : singh.yogendra@gmail.com

5.Try to print the following lines -
Hi I'm Sunny
My address is 22\3
I earn 20$ daily.

In [13]:
print("""Hi I'm Sunny
My address is 22\3
I earn 20$ daily.""")

Hi I'm Sunny
My address is 22
I earn 20$ daily.

6.Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [14]:
first_name= input("enter your first name: ")
last_name= input("enter your last name: ")
date_of_birth= input("enter your birth year: ")
print(f"Your email address will be : {last_name}.{first_name}{date_of_birth}@gmail.com")

enter your first name: yogendra
enter your last name: singh
enter your birth year: 1994
Your email address will be : singh.yogendra1994@gmail.com

Convert the following -
"22.4" into integer
"22" into complex no.

In [16]:
print("convert 22 into complex number: ", bool(22))

convert 22 into complex number:  True

In [17]:
print("convert 22.4 into integer: ", int(22.4))

convert 22.4 into integer:  22